
@{
    ViewBag.Title = "songs";
}

@model Vidola_Prototype_2.Models.VVideoCommentsUsersViewModel

<div class="show-top-grids">
    <div class="col-sm-10 show-grid-left main-grids">
        <div class="recommended">
            <div class="recommended-grids english-grid">
                <div class="recommended-info">
                    <div class="heading">
                        <h3>International</h3>
                    </div>
                    <div class="heading-right">
                        <a href="#small-dialog8" class="play-icon popup-with-zoom-anim">Subscribe</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                <h4>@ViewBag.Error</h4>

                @{
                    if (Model.videos.Count != 0)
                    {
                        for (int i = 0; i < Model.videos.Count; i++)
                        {
                            <div class="col-md-2 resent-grid recommended-grid show-video-grid">
                                <div class="resent-grid-img recommended-grid-img">
                                    <a href="~/Home/single?vid=@Model.videos[i].VVideoId"><img src="@Model.videos[i].ImgLink" alt="" /></a>
                                    <div class="time small-time show-time">
                                        <p>@Model.videos[i].DateTime</p>
                                    </div>
                                    <div class="clck show-clock">
                                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="resent-grid-info recommended-grid-info">
                                    <h5><a href="~/Home/single?vid=@Model.videos[i].VVideoId" class="title">@Model.videos[i].Title</a></h5>
                                    <p class="author"><a href="#" class="author">@Model.users[i].Username</a></p>
                                    <p class="views">@Model.videos[i].Likes views</p>
                                </div>
                            </div>
                        }
                    }

                }

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 show-grid-right">
        <h3>Upcoming Channels</h3>
        <div class="show-right-grids">
            <ul>
                <li class="tv-img"><a href="#"><img src="~/Images/tv.png" alt="" /></a></li>
                <li><a href="#">NCS</a></li>
            </ul>
        </div>
        <div class="show-right-grids">
            <ul>
                <li class="tv-img"><a href="#"><img src="~/Images/tv.png" alt="" /></a></li>
                <li><a href="#">Electrica</a></li>
            </ul>
        </div>
        <div class="show-right-grids">
            <ul>
                <li class="tv-img"><a href="#"><img src="~/Images/tv.png" alt="" /></a></li>
                <li><a href="#">Radio 106.9</a></li>
            </ul>
        </div>
        <div class="show-right-grids">
            <ul>
                <li class="tv-img"><a href="#"><img src="~/Images/tv.png" alt="" /></a></li>
                <li><a href="#">TheWeekndVEVO</a></li>
            </ul>
        </div>
        <div class="show-right-grids">
            <ul>
                <li class="tv-img"><a href="#"><img src="~/Images/tv.png" alt="" /></a></li>
                <li><a href="#">UKF</a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>